*,
*::after,
*::before {
  box-sizing: border-box;
}

.body {
  margin: 0;
  background-color: floralwhite;
  color: rebeccapurple;
  font-size: 16px;
}

.bottom-nav {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333;
}
.bottom-nav__button {
  height: 50px;
  width: 90px;
  background-color: #333;
  border: none;
  outline: none;
  font-size: 1.6rem;
  cursor: pointer;
}
.bottom-nav__button:hover {
  font-size: 2rem;
  background-color: #666;
  transition: 0.5s;
}

.bottom-nav__button:active {
  background-color: #888;
  transition: 0.1s;
}

.bottom-nav__button-active {
  background-color: #666;
}
