@import "variables";
*,
*::after,
*::before {
  box-sizing: border-box;
}

.body {
  margin: 0;
  background-color: $bg-light;
  color: $text-color;
  font-size: 16px;
}

.bottom-nav {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $bg-dark;
}
.bottom-nav__button {
  height: 50px;
  width: 90px;
  background-color: $btn-primary;
  border: none;
  outline: none;
  font-size: 1.6rem;
  cursor: pointer;
}
.bottom-nav__button:hover {
  font-size: 2rem;
  background-color: $btn-secondary;
  transition: 0.5s;
}

.bottom-nav__button:active {
  background-color: $btn-active;
  transition: 0.1s;
}

.bottom-nav__button-active {
  background-color: $btn-secondary;
}
